custom-grey = #94A9BE
custom-blu = #3B484E

.aside
    background-color custom-blu
    color #fff

.bar
    border solid #fff
    border-width 1px 0 0
    clear both
    margin 22px 0 0
    height 0

.bar-bold
    width 30%
    border solid #fff
    border-width 2px 0 0
    clear both
    height 0
    margin 0 0 5px

.custom-small
    font-size 12px
/*
.overflow-hidden
    overflow hidden

.overflow-scroll
    overflow scroll
*/

.aside-open
    overflow hidden
    padding-right: 15px;

.aside.right
    overflow-x hidden
    overflow-y auto
    position fixed
    top 0
    right 0
    bottom 0
    left auto