// commons
html, body
    width 100%
    height 100%
    font-family 'Open Sans', sans-serif
    font-size 16px
    color #000
// fonts
.size-18
    font-size 18px
.size-20
    font-size 20px
// spaces
.padding-bottom-70
    padding-bottom 70px
.spacer-5
    height 5px
.spacer-10
    height 10px
.spacer-20
    height 20px
.spacer-50
    height 50px
.spacer-100
    height 100px
// header
.container-full-bg
    position: relative
    width:100%
    height:100%
    max-width:100%
    background-image url('/assets/img/background.png')
    background-position:center
    background-size:cover
    color: #fff
.container-full-bg .container
    height:100%
    width:100%
.centered {
    text-align center
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
// images
.logo
  width 30%

