.aside.left(tabindex="1" role="dialog" ng-controller="DetailController")
    .aside-dialog
        .aside-content
            .container-fluid
                .row
                    .col-md-12
                        p.pull-right
                        .bar
                        .bar-bold
                        p.custom-small.light
                            strong
                                | Your forging info
                            span.pull-right.pointer
                                i.glyphicon.glyphicon-remove(ng-click="closeDetail()")
                .row
                    .col-md-4.col-sm-6.text-center.height-187
                        span(spinner-key="spinner-forging-header", us-spinner="{color: 'white',radius:20, width:6, length: 10}", spinner-start-active="true")
                        .height-150.relative
                            p.p-centered.size-stats
                                span.light(ng-if="forgigInfo.days")
                                    | #
                                strong
                                    | {{forgigInfo.days}}&nbsp;
                                span.light(ng-if="forgigInfo.days")
                                    | days
                        .spacer-5
                        p
                            strong
                                | Days
                            span.light
                                |  in Pool
                    .col-md-4.col-sm-6.text-center.height-187
                        span(spinner-key="spinner-forging-header", us-spinner="{color: 'white',radius:20, width:6, length: 10}", spinner-start-active="true")
                        .height-150.relative
                            p.p-centered.size-stats
                                strong
                                    | {{forgigInfo.earn}}&nbsp;&nbsp;
                                span.light(ng-if="forgigInfo.earn")
                                    | LSK
                        .spacer-5
                        p
                            strong
                                | Lisk
                            span.light
                                |  you'll earn<br />
                                span(ng-if="forgigInfo.pending_balance > 0")
                                    | {{forgigInfo.pending_balance}} are pending LSK
                    .col-md-4.col-sm-6.text-center.height-187
                        span(spinner-key="spinner-forging-header", us-spinner="{color: 'white',radius:20, width:6, length: 10}", spinner-start-active="true")
                        .height-150.relative
                            p.p-centered.size-stats
                                strong
                                    | {{forgigInfo.score}}
                        .spacer-5
                        p
                            span.light
                                | Voter&nbsp;
                            strong
                                | score
                    .col-md-12
                        hr
                    .col-md-12
                        h4
                            | Address 
                            span.size-16.light
                                | =  {{address_forging}}
                        h4
                            | Balance 
                            span.size-16
                                | =  {{balance_forging/10000/10000 | number}}
                        .spacer-20
                        h4
                            | Payments
                        p(ng-if="transactions.length")
                            | Click on the transaction ID to see it on the official Lisk explorer
                        .spacer-20
                #transactions.row
                    .col-md-12.padding-bottom-20
                        .col-md-12.bordered.white-bordered.text-center
                            .col-md-4
                                p.margin-top-5.margin-bottom-5
                                    | date
                            .col-md-4
                                p.margin-top-5.margin-bottom-5    
                                    | amount
                            .col-md-4
                                p.margin-top-5.margin-bottom-5
                                    | tx
                    .col-md-12.margin-top-30
                        span(spinner-key="spinner-payments", us-spinner="{color: 'white',radius:20, width:6, length: 10}", spinner-start-active="true")
                    .col-md-12.padding-bottom-20.text-center(ng-repeat="tx in transactions")
                        .col-md-12.bordered
                            .col-md-4
                                p.margin-top-5.margin-bottom-5
                                    | {{ covertTime(tx.timestamp) }}
                            .col-md-4
                                p.margin-top-5.margin-bottom-5
                                    | {{tx.amount/10000/10000 | number}} LSK
                            .col-md-4
                                p.margin-top-5.margin-bottom-5
                                    a(href="https://explorer.lisk.io/tx/{{tx.id}}" target="_blank")
                                        | {{tx.id}}
