.aside.right(tabindex="1" role="dialog" ng-controller="DetailController")
    .aside-dialog
        .aside-content
            .container-fluid
                .row
                    .col-md-12
                        .bar
                        .bar-bold
                        p.detail-info-title.light
                            | Your forging info
