.row(ng-controller="DashboardController")
    .spacer-20
    .col-md-3.text-center.height-187
        .height-150.relative
            p.p-centered.size-stats
                strong
                    | {{balance}}
                span.light
                    | Lisk
        .spacer-5
        p
            strong
                | Forged
            span.light
                | Amount
    .col-md-3.text-center.height-187
        .height-150.relative
            p.p-centered.size-stats
                span.light
                    | #
                strong
                    | {{rank}}
                span.light
                    | °
        .spacer-5
        p
            strong
                | Rank
            span.light
                | Info
    .col-md-3.text-center
        .gauge-wrapper
            svg#uptime(width="100%", height="15%")
        p
            strong
                | Uptime
            span.light
                | Info
    .col-md-3.text-center.height-187
        .height-150.relative
            p.p-centered.size-stats
                strong
                    | 10
        .spacer-5
        p
            span.light
                | n°
            strong
                | Supporters