.row(ng-controller="DashboardController")
    .col-md-3
        p
            | Total Forged
    .col-md-3
        p
            | Rank info
    .col-md-3
        p
            | Uptime info
    .col-md-3
        p
            | Other info